<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>CSCI5308 - Group Formation Tool</title>
</head>
<body>
	<div class="container" align="center">
		<h2>Assign TA</h2>
		<br> <label th:text="${error}"></label> <label
			th:text="${success}"></label>
		<form action="#" th:action="@{/instructor/assignta}"
			th:object="${studentUser}" method="post">
			<input type="text" id="bannerId" name="bannerId"
				placeholder="Banner ID"> <input type="submit" value="search" />
		</form>
		<br> <br> <br> <br>
		<table class="table" border="1px solid black">
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
			<tr th:each="student : ${student}">
				<td th:text="${student.firstName}"></td>
				<td>Assign TA</td>
		</table>
		<br> <br>
		<h3>
			<a href="/instructor/assigntasubmit">Submit</a>
		</h3>
	</div>
</body>
</html>