<html xmlns:th="https://www.thymeleaf.org">

<head>
<title>Group 14</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		
		<h1>
			Assign Group Formation Algorithm Rules to <span th:text="${courseId}"></span> course: 
		</h1>
		<br />
		<br />
		<div class="p-3 mb-2 bg-danger text-white">
			<h3>
				<span th:text="${errorMessage}"></span>
			</h3>
		</div>
	</div>
</body>
</html>