<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/form.css" type="text/css">
</head>
<body>
	<div>
		<h1>Forgot Password</h1>
		<h2>Enter your Banner id</h2>
		<div>
			<form action="#" th:action="@{/forgotpassword}"
				th:object="${forgotpassword}" method="post">
				Start with B00:
				<p>
					<input type="text" th:field="*{userId}" /> <input type="submit"
						value="Submit" />
				</p>
			</form>
		</div>
	</div>

</body>
</html>