<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Group 14</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>
			<span th:text="${courseId}"></span> Student Enrollment Form:
		</h1>
		<br />
		<br />
		<div class="p-3 mb-2 bg-success text-white"
			th:if="${!(successMessage == null)}">
			<h3>
				<span th:text="${successMessage}"></span>
			</h3>
		</div>
		<div class="p-3 mb-2 bg-warning text-dark"
			th:if="${!(warningMessage == null)}">
			<h3>
				<span th:text="${warningMessage}"></span>
			</h3>
		</div>
		<br />
		<br />
		<!-- <div th:if="${invalidUser.isEmpty()}">		 -->
		<div th:if="${invalidUsersList!=null and !invalidUsersList.isEmpty()}">
			<h3>List of users that could not be enrolled due to invalid
				details :</h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>UserId</th>
							<th>FirstName</th>
							<th>LastName</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="invalidUser : ${invalidUsersList}">
							<td><span th:text="${invalidUser.userId}"> </span></td>
							<td><span th:text="${invalidUser.firstName}"> </span></td>
							<td><span th:text="${invalidUser.lastName}"> </span></td>
							<td><span th:text="${invalidUser.email}"> </span></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<!-- </div> -->
	</div>

</body>
</html>