<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Group 14</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
	type="text/javascript"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
	type="text/javascript"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div>
			<h1>Update password:</h1>


			<form action="#" th:action="@{/guest/updatePassword}"
				th:object="${user}" method="post">
				<div class="form-group">
					<label for="newpassword">Enter New password:</label> <input
						th:field="*{password}" type="text" class="form-control"
						id="newpassword" placeholder="Enter password">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
	</div>
</body>
</html>
